<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.upms.dao.mapper.McUserSignMapper">
  <resultMap id="BaseResultMap" type="com.zheng.upms.dao.model.McUserSign">
    <id column="sign_id" jdbcType="BIGINT" property="signId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="sign_type" jdbcType="INTEGER" property="signType" />
    <result column="lon" jdbcType="DECIMAL" property="lon" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="sign_address" jdbcType="VARCHAR" property="signAddress" />
    <result column="sign_gpsx" jdbcType="REAL" property="signGpsx" />
    <result column="sign_gpsy" jdbcType="REAL" property="signGpsy" />
    <result column="sign_via" jdbcType="INTEGER" property="signVia" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sign_id, u_id, u_name, sign_time, sign_type, lon, lat, sign_address, sign_gpsx, sign_gpsy, 
    sign_via
  </sql>
  <select id="selectByExample" parameterType="com.zheng.upms.dao.model.McUserSignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mc_user_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_user_sign
    where sign_id = #{signId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mc_user_sign
    where sign_id = #{signId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.upms.dao.model.McUserSignExample">
    delete from mc_user_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.upms.dao.model.McUserSign">
    <selectKey keyProperty="signId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mc_user_sign (u_id, u_name, sign_time, 
      sign_type, lon, lat, 
      sign_address, sign_gpsx, sign_gpsy, 
      sign_via)
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, 
      #{signType,jdbcType=INTEGER}, #{lon,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, 
      #{signAddress,jdbcType=VARCHAR}, #{signGpsx,jdbcType=REAL}, #{signGpsy,jdbcType=REAL}, 
      #{signVia,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.upms.dao.model.McUserSign">
    <selectKey keyProperty="signId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mc_user_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="signType != null">
        sign_type,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="signAddress != null">
        sign_address,
      </if>
      <if test="signGpsx != null">
        sign_gpsx,
      </if>
      <if test="signGpsy != null">
        sign_gpsy,
      </if>
      <if test="signVia != null">
        sign_via,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=INTEGER},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="signAddress != null">
        #{signAddress,jdbcType=VARCHAR},
      </if>
      <if test="signGpsx != null">
        #{signGpsx,jdbcType=REAL},
      </if>
      <if test="signGpsy != null">
        #{signGpsy,jdbcType=REAL},
      </if>
      <if test="signVia != null">
        #{signVia,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.upms.dao.model.McUserSignExample" resultType="java.lang.Long">
    select count(*) from mc_user_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mc_user_sign
    <set>
      <if test="record.signId != null">
        sign_id = #{record.signId,jdbcType=BIGINT},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uName != null">
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null">
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signType != null">
        sign_type = #{record.signType,jdbcType=INTEGER},
      </if>
      <if test="record.lon != null">
        lon = #{record.lon,jdbcType=DECIMAL},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.signAddress != null">
        sign_address = #{record.signAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.signGpsx != null">
        sign_gpsx = #{record.signGpsx,jdbcType=REAL},
      </if>
      <if test="record.signGpsy != null">
        sign_gpsy = #{record.signGpsy,jdbcType=REAL},
      </if>
      <if test="record.signVia != null">
        sign_via = #{record.signVia,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mc_user_sign
    set sign_id = #{record.signId,jdbcType=BIGINT},
      u_id = #{record.uId,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      sign_type = #{record.signType,jdbcType=INTEGER},
      lon = #{record.lon,jdbcType=DECIMAL},
      lat = #{record.lat,jdbcType=DECIMAL},
      sign_address = #{record.signAddress,jdbcType=VARCHAR},
      sign_gpsx = #{record.signGpsx,jdbcType=REAL},
      sign_gpsy = #{record.signGpsy,jdbcType=REAL},
      sign_via = #{record.signVia,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.upms.dao.model.McUserSign">
    update mc_user_sign
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signType != null">
        sign_type = #{signType,jdbcType=INTEGER},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="signAddress != null">
        sign_address = #{signAddress,jdbcType=VARCHAR},
      </if>
      <if test="signGpsx != null">
        sign_gpsx = #{signGpsx,jdbcType=REAL},
      </if>
      <if test="signGpsy != null">
        sign_gpsy = #{signGpsy,jdbcType=REAL},
      </if>
      <if test="signVia != null">
        sign_via = #{signVia,jdbcType=INTEGER},
      </if>
    </set>
    where sign_id = #{signId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.upms.dao.model.McUserSign">
    update mc_user_sign
    set u_id = #{uId,jdbcType=INTEGER},
      u_name = #{uName,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      sign_type = #{signType,jdbcType=INTEGER},
      lon = #{lon,jdbcType=DECIMAL},
      lat = #{lat,jdbcType=DECIMAL},
      sign_address = #{signAddress,jdbcType=VARCHAR},
      sign_gpsx = #{signGpsx,jdbcType=REAL},
      sign_gpsy = #{signGpsy,jdbcType=REAL},
      sign_via = #{signVia,jdbcType=INTEGER}
    where sign_id = #{signId,jdbcType=BIGINT}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>