<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.upms.rpc.mapper.UpmsApiMapper">

    <!-- 权限 -->
    <resultMap id="UpmsPermissionResultMap" type="com.zheng.upms.dao.model.UpmsPermission">
        <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
        <result column="system_id" jdbcType="INTEGER" property="systemId"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="permission_value" jdbcType="VARCHAR" property="permissionValue"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="ctime" jdbcType="BIGINT" property="ctime"/>
        <result column="orders" jdbcType="BIGINT" property="orders"/>
    </resultMap>

    <!-- 角色 -->
    <resultMap id="UpmsRoleResultMap" type="com.zheng.upms.dao.model.UpmsRole">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="ctime" jdbcType="BIGINT" property="ctime"/>
        <result column="orders" jdbcType="BIGINT" property="orders"/>
    </resultMap>

    <!-- 权限字段 -->
    <sql id="UpmsPermission_Column_List">
		permission_id, system_id, pid, name, type, permission_value, uri, icon, status, ctime, orders
	</sql>

    <!-- 角色字段 -->
    <sql id="UpmsRole_Column_List">
		role_id, name, title, description, ctime, orders
	</sql>

    <!-- 根据用户获取所拥有的权限 -->
    <select id="selectUpmsPermissionByUpmsUserId" parameterType="java.lang.Integer" resultMap="UpmsPermissionResultMap">
        select
        <include refid="UpmsPermission_Column_List"/>
        from upms_permission up where up.`status`=1 and up.permission_id in (
        select permission_id from upms_role_permission urp where urp.role_id in (
        select uur.role_id role_id from upms_user_role uur where uur.user_id=#{upmsUserId,jdbcType=INTEGER}
        )
        union
        select permission_id from upms_user_permission uup1 where uup1.user_id=#{upmsUserId,jdbcType=INTEGER} and
        uup1.type=1
        )
        and up.permission_id not in (
        select permission_id from upms_user_permission uup2 where uup2.user_id=#{upmsUserId,jdbcType=INTEGER} and
        uup2.type=-1
        ) order by up.orders asc
    </select>

    <!-- 根据用户id获取所属的角色 -->
    <select id="selectUpmsRoleByUpmsUserId" parameterType="java.lang.Integer" resultMap="UpmsRoleResultMap">
        select
        <include refid="UpmsRole_Column_List"/>
        from upms_role ur where ur.role_id in (
        select uur.role_id from upms_user_role uur where uur.user_id=#{upmsUserId,jdbcType=INTEGER}
        )
    </select>

    <update id="createScheduleTable">
		CREATE TABLE IF NOT EXISTS `mc_schedule_plan_${mcId}_copy` (
		   `id` int(11) NOT NULL AUTO_INCREMENT,
          `u_id` int(11) NOT NULL COMMENT '员工id',
          `u_name` varchar(255) NOT NULL COMMENT '员工姓名',
          `group_id` int(11) NOT NULL COMMENT '组ID',
          `per_salary` bigint(11) DEFAULT '0' COMMENT '员工时薪',
          `scheduling_date` date DEFAULT NULL,
          `period_time` varchar(16) DEFAULT NULL COMMENT '起止时间',
          `total_time` decimal(3,1) DEFAULT NULL COMMENT '总时间',
          `estimate_pay` bigint(255) DEFAULT '0' COMMENT '预计支付 单位:分',
          `result` int(255) NOT NULL DEFAULT '0' COMMENT '结果记录(0未知,1已完成,2未完成)',
          `create_time` timestamp NULL DEFAULT NULL COMMENT '创建时间',
          `update_time` timestamp NULL DEFAULT NULL COMMENT '排班最后一次更新时间',
          PRIMARY KEY (`id`),
          KEY `用户id` (`u_id`),
          KEY `结果` (`result`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
	</update>

    <update id="createSignTable">
		CREATE TABLE IF NOT EXISTS `mc_user_sign_${mcId}_copy` (
		`sign_id` bigint(20) NOT NULL COMMENT '主键 支持高并发',
		`u_id` int(11) NOT NULL COMMENT '员工id',
		`u_name` varchar(32) DEFAULT NULL COMMENT '员工姓名',
		`sign_time` timestamp NULL DEFAULT NULL COMMENT '打卡时间',
		`sign_type` int(4) DEFAULT '0' COMMENT '打卡类型(0 B端,1 C端,2 其他)',
		`lon` decimal(11,7) DEFAULT NULL COMMENT '经度',
		`lat` decimal(11,7) DEFAULT NULL COMMENT '纬度',
		`sign_address` varchar(255) DEFAULT NULL,
		`extend1` varchar(32) DEFAULT NULL COMMENT '预留字段',
		`extend2` varchar(32) DEFAULT NULL COMMENT '预留字段2',
		`extend3` varchar(255) DEFAULT NULL COMMENT '预留字段3',
		PRIMARY KEY (`sign_id`),
		KEY `用户id` (`u_id`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
	</update>
    <!-- 缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 排班表 -->
    <resultMap id="scheduleResultMap" type="com.zheng.upms.dao.model.McSchedulePlan">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="u_id" jdbcType="INTEGER" property="uId"/>
        <result column="u_name" jdbcType="VARCHAR" property="uName"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="per_salary" jdbcType="BIGINT" property="perSalary"/>
        <result column="scheduling_date" jdbcType="DATE" property="schedulingDate"/>
        <result column="period_time" jdbcType="VARCHAR" property="periodTime"/>
        <result column="total_time" jdbcType="DECIMAL" property="totalTime"/>
        <result column="estimate_pay" jdbcType="BIGINT" property="estimatePay"/>
        <result column="result" jdbcType="INTEGER" property="result"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <!-- 排班,单元格扩展 -->
    <resultMap id="schedulingCell" type="com.zheng.upms.dao.vo.McSchedulingCell" extends="scheduleResultMap">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
    </resultMap>
    <!-- 员工签到 -->
    <resultMap id="signResultMap" type="com.zheng.upms.dao.model.McUserSign">
        <id column="sign_id" jdbcType="BIGINT" property="signId"/>
        <result column="u_id" jdbcType="INTEGER" property="uId"/>
        <result column="u_name" jdbcType="VARCHAR" property="uName"/>
        <result column="sign_time" jdbcType="TIMESTAMP" property="signTime"/>
        <result column="sign_type" jdbcType="INTEGER" property="signType"/>
        <result column="lon" jdbcType="DECIMAL" property="lon"/>
        <result column="lat" jdbcType="DECIMAL" property="lat"/>
        <result column="sign_address" jdbcType="VARCHAR" property="signAddress"/>
        <result column="extend1" jdbcType="VARCHAR" property="extend1"/>
        <result column="extend2" jdbcType="VARCHAR" property="extend2"/>
        <result column="extend3" jdbcType="VARCHAR" property="extend3"/>
    </resultMap>
    <!-- 插入排班数据到指定表 -->
    <insert id="insertScheduleData">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into mc_schedule_plan_${mcId}_copy (u_id, u_name, group_id,
        per_salary, scheduling_date, period_time,
        total_time, estimate_pay, result,
        create_time, update_time)
        values (#{record.uId,jdbcType=INTEGER}, #{record.uName,jdbcType=VARCHAR}, #{record.groupId,jdbcType=INTEGER},
        #{record.perSalary,jdbcType=BIGINT}, #{record.schedulingDate,jdbcType=DATE},
        #{record.periodTime,jdbcType=VARCHAR},
        #{record.totalTime,jdbcType=DECIMAL}, #{record.estimatePay,jdbcType=BIGINT}, #{record.result,jdbcType=INTEGER},
        #{record.createTime,jdbcType=TIMESTAMP}, #{record.updateTime,jdbcType=TIMESTAMP})
    </insert>
    <!-- 修改排班数据-->
    <update id="updateScheduleDataSelective">
        update mc_schedule_plan_${mcId}_copy
        <set>
            <if test="record.uId != null">
                u_id = #{record.uId,jdbcType=INTEGER},
            </if>
            <if test="record.uName != null">
                u_name = #{record.uName,jdbcType=VARCHAR},
            </if>
            <if test="record.groupId != null">
                group_id = #{record.groupId,jdbcType=INTEGER},
            </if>
            <if test="record.perSalary != null">
                per_salary = #{record.perSalary,jdbcType=BIGINT},
            </if>
            <if test="record.schedulingDate != null">
                scheduling_date = #{record.schedulingDate,jdbcType=DATE},
            </if>
            <if test="record.periodTime != null">
                period_time = #{record.periodTime,jdbcType=VARCHAR},
            </if>
            <if test="record.totalTime != null">
                total_time = #{record.totalTime,jdbcType=DECIMAL},
            </if>
            <if test="record.estimatePay != null">
                estimate_pay = #{record.estimatePay,jdbcType=BIGINT},
            </if>
            <if test="record.result != null">
                result = #{record.result,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            id=#{record.id,jdbcType=INTEGER}
        </where>
    </update>
    <!-- 主键删除 -->
    <delete id="deleteScheduleDataByPrimaryKey">
        delete from mc_schedule_plan_${mcId}_copy
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <!-- 批量删除 -->
    <delete id="batchDeleteScheduleData">
        delete from mc_schedule_plan_${mcId}_copy
        <if test="idArray != null">
            WHERE id in
            <foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </delete>

    <!-- 主键查询 -->
    <select id="selectScheduleDataByPrimaryKey" resultMap="scheduleResultMap">
        select * from mc_schedule_plan_${mcId}_copy
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 时间条件查询-->
    <select id="selectSchedulingDataByDate" resultMap="schedulingCell">
        select p.id,p.u_id,p.u_name,p.group_id,p.per_salary,p.scheduling_date,p.period_time,p.total_time,
              p.estimate_pay,p.result,p.create_time,p.update_time,g.name,g.color
         from mc_schedule_plan_${mcId}_copy AS p LEFT JOIN mc_group g ON p.group_id=g.id
        where scheduling_date &gt;= #{startDate,jdbcType=DATE} AND scheduling_date &lt;= #{endDate,jdbcType=DATE}
    </select>

    <!--条件查询 -->
    <select id="selectDataByExample" resultMap="schedulingCell">
        select p.id,p.u_id,p.u_name,p.group_id,p.per_salary,p.scheduling_date,p.period_time,p.total_time,
        p.estimate_pay,p.result,p.create_time,p.update_time,g.name,g.color
        from mc_schedule_plan_${mcId}_copy AS p LEFT JOIN mc_group g ON p.group_id=g.id
        <if test="_parameter != null">
            <where>
                <foreach collection="example.oredCriteria" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>


    <!-- 员工查看自己的排班数据 -->
    <select id="selectStaffData" resultMap="schedulingCell">
        select p.id,p.u_id,p.u_name,p.group_id,p.per_salary,p.scheduling_date,p.period_time,p.total_time,
              p.estimate_pay,p.result,p.create_time,p.update_time,g.name,g.color
          from mc_schedule_plan_${parentId}_copy AS p LEFT JOIN mc_group g ON p.group_id=g.id
      WHERE u_id=#{uId,jdbcType=INTEGER} AND
       scheduling_date &gt;= #{startDate,jdbcType=DATE} AND
        scheduling_date &lt;= #{endDate,jdbcType=DATE}
        ORDER BY scheduling_date DESC ;
    </select>

    <!-- 员工签到 -->
    <insert id="insertSignRecord">
        insert into mc_user_sign_${parentId}_copy (sign_id,u_id, u_name, sign_time,
      sign_type, lon, lat,
      sign_address, extend1, extend2,
      extend3)
    values (#{record.signId,jdbcType=BIGINT},#{record.uId,jdbcType=INTEGER}, #{record.uName,jdbcType=VARCHAR}, #{record.signTime,jdbcType=TIMESTAMP},
      #{record.signType,jdbcType=INTEGER}, #{record.lon,jdbcType=DECIMAL}, #{record.lat,jdbcType=DECIMAL},
      #{record.signAddress,jdbcType=VARCHAR}, #{record.extend1,jdbcType=VARCHAR}, #{record.extend2,jdbcType=VARCHAR},
      #{record.extend3,jdbcType=VARCHAR})
    </insert>

    <!-- 查询签到数据 -->
    <select id="selectSignRecordByExample" resultMap="signResultMap">
        select sign_id, u_id, u_name, sign_time, sign_type, lon, lat, sign_address, extend1, extend2,extend3
        FROM mc_user_sign_${parentId}_copy
        <if test="_parameter != null">
            <where>
                <foreach collection="example.oredCriteria" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>

    <select id="countSignRecordByExample" resultType="java.lang.Long">
        select count(*) from mc_user_sign_${parentId}_copy
        <if test="_parameter != null">
            <where>
                <foreach collection="example.oredCriteria" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
    </select>

</mapper>