<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-ucenter-admin"/>

    <dubbo:registry file="./zheng-ucenter-admin-dubbo.cache" address="${dubbo.registry.address}"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.zheng.upms.rpc.api.UpmsApiService" mock="true"/>
    <!-- 用户 -->
    <dubbo:reference id="upmsUserService" interface="com.zheng.upms.rpc.api.UpmsUserService" mock="true"/>
    <dubbo:reference id="upmsUserRoleService" interface="com.zheng.upms.rpc.api.UpmsUserRoleService"/>
    <dubbo:reference id="upmsRoleService" interface="com.zheng.upms.rpc.api.UpmsRoleService" />
    <!-- 日志 -->
    <dubbo:reference id="mcLogService" interface="com.zheng.ucenter.rpc.api.McLogService" mock="true"/>
    <!-- 职位 -->
    <dubbo:reference id="mcGroupService" interface="com.zheng.ucenter.rpc.api.McGroupService" mock="true"/>
    <!-- 排班 -->
    <dubbo:reference id="mcSchedulePlanService" interface="com.zheng.ucenter.rpc.api.McSchedulePlanService" mock="true"/>
    <!-- 用户组关联 -->
    <dubbo:reference id="mcUserGroupService" interface="com.zheng.ucenter.rpc.api.McUserGroupService" mock="true"/>
    <!-- 签到 -->
    <dubbo:reference id="mcUserSignService" interface="com.zheng.ucenter.rpc.api.McUserSignService" mock="true"/>
    <!-- 日统计 -->
    <dubbo:reference id="mcCountDayService" interface="com.zheng.ucenter.rpc.api.McCountDayService" mock="true"/>
    <!-- 周统计 -->
    <dubbo:reference id="mcCountWeekService" interface="com.zheng.ucenter.rpc.api.McCountWeekService" mock="true"/>
    <!-- api -->
    <dubbo:reference id="ucenterApiService" interface="com.zheng.ucenter.rpc.api.UcenterApiService" mock="true"/>

</beans>